<h3>Character's detail</h3>
<table class="table table-hover tablesorter">
    <tr><td><b>Name : </b></td> <td>{{ result.name }}</td></tr>
    <tr><td><b>Description : </b></td> <td>{{ result.desc }}</td></tr>
    <tr><td><b>Image : </b></td> <td><img src="{{ result.thumbnail }}" alt="{{ result.name }}" /></td></tr>
    <tr><td><b>Number of comics apparitions : </td> <td>{{ result.nb_comics }}</td></tr>
    <tr><td><b>Last 3 comics apparition : </b></td> 
    {% for comic  in result.comics %}
        <td>{{ comic }}</td> 
    {% endfor %}</tr>
    
</table>