{# On utilise ici le layout général, qui se situe dans ce même CoreBundle maintenant #}
{% extends "MarvelCoreBundle::layout.html.twig" %}

{% block title %}
  {{ parent() }} - Vue globale
{% endblock %}

{% block body %} 
    
  {{ parent() }}
  <table>
      <thead>
        <th>Nom du personnage</th>
        <th>Image</th>
      </thead>
      <tbody>
          {% for character in result %}
              <tr>
                  <td> {{ character.name }} </td>
                  <td> <img src="{{ character.thumbnail }}" alt="{{ character.name }}" /></td>
              </tr>    
          {% endfor %}    
      </tbody>    
  </table>    
  
{% endblock %}

{% block footer %}
    
    {{ parent() }}
    
{% endblock %}
